*,
*::before,
*::after {box-sizing: border-box;margin: 0;padding: 0;border:0;}
body {font-size: 16px; font-family: 'Exo 2', sans-serif; color: black;min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
ul[class],ol[class] {list-style: none;}
img {max-width: 100%;display: block;}

.wrapper{
    height: 100vh;
    background: url('./wp2039804-telegram-wallpapers.png');
    background-size: cover;
    background-position:  bottom;
    background-repeat: no-repeat;
    /* background:  #1c2937 ; */
}