.list-wrapper-habits{
    height: 80%;
    position: absolute;
    bottom: 0; 
    overflow-y: scroll;font-size: 26px;
}
.habits-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .habits-item{
        width: 80%;
        margin: 0 auto;
    }   
}